body {
    background-color: #8CB9BD;
}

/* Main stage*/
#gui {
    display: flex;
    flex-direction: column;
    margin-top:0;
    /* padding-bottom: 2em; */
    border: blue solid;
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

#container {
    position: relative;
    border: 5px solid #000;
    width: 1600px;
    height: 750px;
    padding: 0;
    background-color: #FEFBF6;
}

#options {
    align-self:flex-end; /* Align items to the end */
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    margin-top:1em;
    width:400px;
    border: 1px solid #ccc; /* Just for demonstration */
}

.option button{
    height: 30px;
    border:none;
    background-color: #8CB9BD;
}

#menu {
    position: fixed;
    background-color: #f1f1f1;
    border: pink solid;
    padding: 0 1em;
}

.menu-button {
    background: none;
    border: none;
    display: block;
    margin: 5px 0;
}

.menu-button:hover {
    color: #9B4444;
}