:root {
    --bg-color: #76ABAE;
    --text-color: #31363F;
    --viewport-color: #EEEEEE;
    --highlight_color: #DD5746;
    --form_bg: #365486;
    --form_normalTxt: #EEF5FF;
    --form_title: #0F1035;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
body {
    background-color:var(--bg-color);
}

/* Main stage*/
#gui {
    display: flex;
    flex-direction: column;
    margin-top:0;
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

#container {
    position: relative;
    border: 5px solid var(--text-color);
    width: 1600px;
    height: 750px;
    padding: 0;
    background-color: var(--viewport-color);
}

/* Menu buttons position*/
#options {
    align-self:flex-end; /* Align items to the end */
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    margin-top:1em;
    width:430px;
    /* border: 1px solid #ccc; Just for demonstration */
}

.option button{
    height: 30px;
    border:none;
    background-color: var(--bg-color);
    font-size: 1.2em;
}

.option button:hover{
   text-decoration: underline;
}

/* Dropdown options */
#menu {
    position: fixed;
    background-color: var(--viewport-color);
    border: var(--viewport-color) solid;
    padding: 0 0.3em;
}

.menu-button {
    border: none;
    display: block;
    margin: 5px 0;
    font-size: 1.1em !important;
    background-color: var(--viewport-color) !important;
}

.menu-button:hover {
    color: var(--highlight_color);
    text-decoration: none !important;
}

/* popup */
.popup {
    position: fixed;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.form {
    width: 350px;
    height: 100px;
    display: flex;
    padding: 0.7em 1.5em;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--form_bg);
    color: var(--form_normalTxt);
    border:var(--form_bg) solid 1px;
    border-radius: 10px;
}

.form .finished {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-top:0.3em;
}
.form .finished button{
    margin:0 1em;
}

/*URLs*/
#add_url_prompt {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0.7em 1.1em;
    background-color: var(--form_bg);
    color: var(--form_normalTxt);
    border:var(--form_bg) solid 1px;
    font-size: 0.8em;
}
#add_url_form {
    height: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:0.7em;
}
#server_title {
    color:var(--form_title);

}